*,
*::before,
*::after {
  box-sizing: border-box;
}


*{
  margin: 0;
  padding: 0;
}



header {
  background: linear-gradient(135deg, #bc0000, #000000);
  font-family: 'Poppins', sans-serif;
}
.offer-card {
  background: white;
  border-radius: 19px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.07);
  transition: transform 0.3s, box-shadow 0.3s;
}
.offer-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 32px rgba(22, 77, 182, 0.15);
}
html {
  scroll-behavior: smooth;
}






